In [1]:
import pandas as pd

In [17]:
data = [
    {"sale_id": 1, "sale_rep_id": 101, "sale_data": "2024-01-01","car_model": "Camry", "sale_amount":20000, "commission_pct": 5, "sale_status":"Completed"},
    {"sale_id": 2, "sale_rep_id": 102, "sale_data": "2024-01-02","car_model": "Corolla", "sale_amount":18000, "commission_pct": 4, "sale_status":"Completed"},
    {"sale_id": 3, "sale_rep_id": 103, "sale_data": "2024-01-03","car_model": "RAV4", "sale_amount":30000, "commission_pct": 6, "sale_status":"Completed"},
    {"sale_id": 2, "sale_rep_id": 102, "sale_data": "2024-01-02","car_model": "Corolla", "sale_amount":18000, "commission_pct": 4, "sale_status":"Completed"},
    {"sale_id": 4, "sale_rep_id": 104, "sale_data": "2024-01-04","car_model": "Highlander", "sale_amount":35000, "commission_pct": 7, "sale_status":"Pending"}

]

custom_df = pd.DataFrame(data)

In [18]:
custom_df.head()

,sale_id,sale_rep_id,sale_data,car_model,sale_amount,commission_pct,sale_status
0,1,101,2024-01-01,Camry,20000,5,Completed
1,2,102,2024-01-02,Corolla,18000,4,Completed
2,3,103,2024-01-03,RAV4,30000,6,Completed
3,2,102,2024-01-02,Corolla,18000,4,Completed
4,4,104,2024-01-04,Highlander,35000,7,Pending

In [7]:
deduplicated_df = custom_df.drop_duplicates(subset=["sale_id"])

In [8]:
deduplicated_df

,sale_id,sale_rep_id,sale_data,car_model,sale_amount,commission_pct,sale_status
0,1,101,2024-01-01,Camry,20000,5,Completed
1,2,102,2024-01-02,Corolla,18000,4,Completed
2,3,103,2024-01-03,RAV4,30000,6,Completed
4,4,104,2024-01-04,Highlander,35000,7,Pending

In [19]:
priority_order = pd.CategoricalDtype(categories=["High", "Medium","Low"])

In [15]:
custom_df

,sale_id,sale_rep_id,sale_data,car_model,sale_amount,commission_pct,sale_status
0,1,101,2024-01-01,Camry,20000,5,Completed
1,2,102,2024-01-02,Corolla,18000,4,Completed
2,3,103,2024-01-03,RAV4,30000,6,Completed
3,2,102,2024-01-02,Corolla,18000,4,Completed
4,4,104,2024-01-04,Highlander,35000,7,Pending

In [20]:
custom_df["priority"] = custom_df["priority"].astype(priority_order)

KeyError: 'priority'

In [16]:
custom_df.sort_values(by="priority")

KeyError: 'priority'