In [1]:
import pandas as pd
from sqlalchemy.dialects.mssql.information_schema import columns

In [3]:
l = [1,2,3,4,5,6]

var = pd.DataFrame(l)
print(var)
print(type(var))

   0
0  1
1  2
2  3
3  4
4  5
5  6
<class 'pandas.core.frame.DataFrame'>

In [9]:
d = {"a":[1,2,3,4,5],"s":[1,2,3,4,5],"d":[1,2,3,4,5],1:[1,2,3,4,5]}

var1 = pd.DataFrame(d)
print(type(var1))

<class 'pandas.core.frame.DataFrame'>

In [10]:
var1

   a  s  d  1
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3
3  4  4  4  4
4  5  5  5  5

In [7]:
var1 = pd.DataFrame(d,columns=['a'])

In [8]:
var1

   a
0  1
1  2
2  3
3  4
4  5

In [15]:
var1 = pd.DataFrame(d,columns=['a',1],index=['a',"s","d","f","g"])

In [16]:
var1

   a  1
a  1  1
s  2  2
d  3  3
f  4  4
g  5  5

In [22]:
print(type(var))
d = {"a": [1, 2, 3, 14, 5], "s": [1, 2, 3, 4, 5], "d": [1, 2, 3, 4, 5], 1: [1, 2, 3, 4, 5]}

var1 = pd.DataFrame(d)

<class 'pandas.core.frame.DataFrame'>

In [23]:
var1 = pd.DataFrame(d)

In [24]:
var1

    a  s  d  1
0   1  1  1  1
1   2  2  2  2
2   3  3  3  3
3  14  4  4  4
4   5  5  5  5

In [25]:
print(var1['a'][3])

14

In [27]:
list_1 = [[1,2,3,4,5],[11,12,13,13,15]]

var2 = pd.DataFrame(list_1)

In [28]:
var2

    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  13  15

In [31]:
sr = {"s":pd.Series([1,2,3,4,5]),"r":pd.Series([1,2,3,4,5])}

var3 = pd.DataFrame(sr)

print(type(var3))
print(var3)

<class 'pandas.core.frame.DataFrame'>
   s  r
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

In [30]:
sr

{'s': 0    1
 1    2
 2    3
 3    4
 4    5
 dtype: int64,
 'r': 0    1
 1    2
 2    3
 3    4
 4    5
 dtype: int64}