Insert

In [1]:
import pandas as pd

In [6]:
var = pd.DataFrame({"A":[1,2,3,4,5],"B":[9,8,7,6,5]})

In [7]:
var

   A  B
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5

In [4]:
var.insert(1,"python",var["A"])

In [5]:
var

   A  python  B
0  1       1  9
1  2       2  8
2  3       3  7
3  4       4  6
4  5       5  5

In [8]:
var

   A  B
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5

In [9]:
var["python_12"]=var["A"][:3]

In [11]:
var

   A  B  python_12
0  1  9        1.0
1  2  8        2.0
2  3  7        3.0
3  4  6        NaN
4  5  5        NaN