In [1]:
import pandas as pd

In [5]:
#Creating a sample dataset for car sales

data = {
    'Salesperson': ['Alice', 'Bob', 'Charlie', 'Alice','Charlie'],
    'Car Model': ['Corolla', 'Camry','Rav4', 'Highlander', 'Corolla'],
    'Sale Price':[20000,25000,27000,32000,21000]
}

df = pd.DataFrame(data)

In [6]:
df

  Salesperson   Car Model  Sale Price
0       Alice     Corolla       20000
1         Bob       Camry       25000
2     Charlie        Rav4       27000
3       Alice  Highlander       32000
4     Charlie     Corolla       21000

Descriptve statistics

In [10]:
#Descriptve statistics
print("Average Sale Price:", df['Sale Price'].mean())

Average Sale Price: 25000.0

In [8]:
print("Total Sales:", df['Sale Price'].sum())

Total Sales: 125000

In [9]:
print("Most Expensive Sale:", df['Sale Price'].max())

Most Expensive Sale: 32000