In [1]:
import pandas as pd

In [4]:
toyota_dataT = pd.read_csv("toyota_sales_data.csv")

In [5]:
toyota_dataT

,sale_id,sale_rep_id,sale_date,car_model,sale_amount,commission_pct,sale_status
0,1,16,2024-11-18,Tundra,44496.88,0.05,Completed
1,2,11,2024-11-08,Tacoma,34824.72,NaN,Pending
2,3,5,2024-11-03,Corolla,20275.08,NaN,Completed
3,4,20,2024-11-06,Corolla,20068.93,NaN,Completed
4,5,1,2024-11-26,Tundra,49811.99,0.03,Completed
...,...,...,...,...,...,...,...
4995,4996,1,2024-11-06,Corolla,21484.83,0.05,Completed
4996,4997,8,2024-11-11,Camry,26519.24,0.05,Pending
4997,4998,18,2024-11-06,Tacoma,30780.39,0.02,Completed
4998,4999,10,2024-11-21,Corolla,22654.59,NaN,Completed
4999,5000,13,2024-11-21,Tundra,44525.85,NaN,Cancelled

In [8]:
type(toyota_dataT)

pandas.core.frame.DataFrame

In [10]:
toyota_dataT.shape

(5000, 7)

In [6]:
model_series = toyota_dataT['car_model']

In [9]:
model_series

0        Tundra
1        Tacoma
2       Corolla
3       Corolla
4        Tundra
         ...
4995    Corolla
4996      Camry
4997     Tacoma
4998    Corolla
4999     Tundra
Name: car_model, Length: 5000, dtype: object

In [11]:
type(model_series)

pandas.core.series.Series

In [12]:
model_series.head()

0     Tundra
1     Tacoma
2    Corolla
3    Corolla
4     Tundra
Name: car_model, dtype: object

In [13]:
model_series.index

RangeIndex(start=0, stop=5000, step=1)

In [14]:
model_series.describe()

count     5000
unique       6
top       RAV4
freq       860
Name: car_model, dtype: object

In [15]:
model_series.unique()

array(['Tundra', 'Tacoma', 'Corolla', 'RAV4', 'Camry', 'Highlander'],
      dtype=object)

In [16]:
model_series.nunique()

6

In [17]:
model_series.isnull()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Name: car_model, Length: 5000, dtype: bool

In [18]:
model_series.isnull().sum()

np.int64(0)

In [21]:
cp_series = toyota_dataT['commission_pct']

In [22]:
cp_series

0       0.05
1        NaN
2        NaN
3        NaN
4       0.03
        ...
4995    0.05
4996    0.05
4997    0.02
4998     NaN
4999     NaN
Name: commission_pct, Length: 5000, dtype: float64

In [23]:
cp_series.isnull()

0       False
1        True
2        True
3        True
4       False
        ...
4995    False
4996    False
4997    False
4998     True
4999     True
Name: commission_pct, Length: 5000, dtype: bool

In [24]:
cp_series.isnull().sum()

np.int64(1274)

In [25]:
cp_series.describe()

count    3726.000000
mean        0.033725
std         0.012503
min         0.020000
25%         0.020000
50%         0.030000
75%         0.050000
max         0.050000
Name: commission_pct, dtype: float64

In [26]:
model_series

0        Tundra
1        Tacoma
2       Corolla
3       Corolla
4        Tundra
         ...
4995    Corolla
4996      Camry
4997     Tacoma
4998    Corolla
4999     Tundra
Name: car_model, Length: 5000, dtype: object

In [27]:
model_series.str.upper()

0        TUNDRA
1        TACOMA
2       COROLLA
3       COROLLA
4        TUNDRA
         ...
4995    COROLLA
4996      CAMRY
4997     TACOMA
4998    COROLLA
4999     TUNDRA
Name: car_model, Length: 5000, dtype: object