Write CSV

In [1]:
import pandas as pd

In [2]:
dis = {"a":[1,2,3,4,5,6],"s":[1,2,3,4,5,6],"d":[1,2,3,4,5,6]}
d = pd.DataFrame(dis)

In [3]:
d

   a  s  d
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6

In [4]:
d.to_csv("Test_new.csv")

In [22]:
d.to_csv("Test_new1.csv",index=False)

In [25]:
d.to_csv("Test_new2.csv",index=False,header=[1,2,3])

In [26]:
t =pd.read_csv("Test_new2.csv")

In [28]:
t.head()

   1  2  3
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5