In [1]:
import sqlite3

In [2]:
#Connect to an SQLite database
connection=sqlite3.connect('example.db')
connection

In [3]:
cursor=connection.cursor()

In [4]:
#Create a Table
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)
''')

#Commit the changes
connection.commit()

In [5]:
cursor.execute('''

Select * from employees

''')

In [9]:
#Insert the data in sqlite table

cursor.execute("INSERT INTO employees (name, age, department) VALUES (?, ?, ?)", ('Chris', 32, 'Data Scientist'))
cursor.execute("INSERT INTO employees (name, age, department) VALUES (?, ?, ?)", ('Bob', 25, 'Engineering'))
cursor.execute("INSERT INTO employees (name, age, department) VALUES (?, ?, ?)", ('Charlie', 35, 'Finance'))

#commi the changes
connection.commit()

In [13]:
#Query the data from the table
cursor.execute("SELECT * FROM employees")
rows=cursor.fetchall()

#prin the Queried data
for row in rows:
    print(row)

(1, 'Chris', 32, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [19]:
#Update the data in the table
cursor.execute('''
UPDATE employees
Set age = 34
where name = "Chris"
''')

connection.commit()

In [20]:
cursor.execute("SELECT * FROM employees")
rows=cursor.fetchall()

#prin the Queried data
for row in rows:
    print(row)

(1, 'Chris', 34, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [21]:
#Delet the data from the table
cursor.execute('''
Delete from employees
          where name = "Bob"
''')

connection.commit()

In [22]:
cursor.execute("SELECT * FROM employees")
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'Chris', 34, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')

In [25]:
#Working with Sales Date
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

#Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

#Insert data into the sales table
sales_data = [
    ('2023-01-01', 'ProductA', 100, 'North'),
    ('2023-01-02', 'ProductB', 150, 'South'),
    ('2023-01-03', 'ProductC', 200, 'East'),
    ('2023-01-04', 'ProductD', 250, 'West')
]

cursor.executemany('''
INSERT INTO sales (date, product, sales,region)
                    VALUES (?, ?, ?,?)
''', sales_data)
connection.commit()

In [26]:
cursor.execute("SELECT * FROM sales")
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, '2023-01-01', 'ProductA', 100, 'North')
(2, '2023-01-02', 'ProductB', 150, 'South')
(3, '2023-01-03', 'ProductC', 200, 'East')
(4, '2023-01-04', 'ProductD', 250, 'West')

In [ ]:
##