In [1]:
# for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [5]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [7]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [8]:
#string
str="Krish Naik"

for i in str:
    print(i)

K
r
i
s
h

N
a
i
k

In [9]:
# While loop
count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [10]:
count = 0

while count%2 ==0:
    print(count)
    count += 1

0

In [11]:
## Loop control statements
#break statement
for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [12]:
##continue statement
for i in range(10):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [15]:
##pass
for i in range(10):
    if i == 3:
        print("The number is ",i)
        pass
    print(i)

0
1
2
The number is  3
3
4
5
6
7
8
9

In [17]:
## Nested loops

for i in range(3):
    for j in range(2):
        print(f"i: {i}and j: {j}")

i: 0and j: 0
i: 0and j: 1
i: 1and j: 0
i: 1and j: 1
i: 2and j: 0
i: 2and j: 1

In [18]:
#Example - Calaculate the sum of first N natural numbers using a while and for loop
n = 10     
sum = 0
count = 1

while count <= n:
    sum += count
    count += 1
print(f"The sum of first {n} natural numbers is: {sum}")

The sum of first 10 natural numbers is: 55

In [19]:
n = 10
sum = 0
for i in range(11):
    sum += i
print(f"The sum of first {n} natural numbers is: {sum}")

The sum of first 10 natural numbers is: 55

In [20]:
#Exmple -Prime numbers between 1 to 100
for num in range(1, 101):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97