In [2]:
def square(x):
    return x*x

square(4)

16

In [5]:
numbers=[1,2,3,4,5,6]
list(map(square, numbers))

[1, 4, 9, 16, 25, 36]

In [6]:
## lambda function with map
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [7]:
## Map multiple iterables
numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y, numbers1, numbers2))
print(added_numbers)

[5, 7, 9]

In [8]:
## map() to convert a list  of strings to integers
## Use map to convert strings to integers
str_numbers=['1','2','3','4','5']
int_numbers=list(map(int, str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

In [9]:
words=['apple','banana','cherry']
upper_words=list(map(str.upper,words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [10]:
def get_name(person):
    return person['name']

people=[{'name':'Alice','age':30},
        {'name':'Bob','age':25}
]

list(map(get_name, people))

['Alice', 'Bob']