In [1]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,5])
print(numbers)

(1, 2, 3, 4, 5)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [7]:
mixed_tuple = (1, "Hello", 3.14, [1,2,3], (4,5))
print(mixed_tuple)

(1, 'Hello', 3.14, [1, 2, 3], (4, 5))

In [8]:
# Accessing Tuple Elements
numbers

(1, 2, 3, 4, 5)

In [9]:
numbers[0]

1

In [10]:
print(numbers[2])
print(numbers[-1])

3
5

In [11]:
numbers[::]

(1, 2, 3, 4, 5)

In [ ]:
#Tuple Operations
concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 'Hello', 3.14, [1, 2, 3], (4, 5), 1, 'Hello', 3.14, [1, 2, 3], (4, 5))

In [13]:
mixed_tuple *3

(1,
 'Hello',
 3.14,
 [1, 2, 3],
 (4, 5),
 1,
 'Hello',
 3.14,
 [1, 2, 3],
 (4, 5),
 1,
 'Hello',
 3.14,
 [1, 2, 3],
 (4, 5))

In [14]:
numbers*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [16]:
#Immutability of Tuples

lst=[1,2,3,4,5]
print(lst)

lst[1]='Krish'
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [17]:
numbers[1]='Krish'

TypeError: 'tuple' object does not support item assignment

In [19]:
#Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [20]:
## Packing and Unpacking tuples
packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [21]:
##Unpacking a tuple
a, b, c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [22]:
## unpacking with *
numbers = (1,2,3,4,5)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4]
5

In [24]:
## Nested Tuples
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [25]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [27]:
nested_tuple = ((1,2, 3), ("a", "b","c"),(True, False))

# access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [28]:
# iterating through a tuples
for sub_tuple in nested_tuple: 
    for item in sub_tuple:
         print(item,end=" ")

1 2 3 a b c True False